<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ошибка 500</title>
    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-center py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img th:src="@{/images/logo.png}" alt="logo">
                            </div>
                            <img th:src="@{/images/500error.svg}" alt="404">
                            <h6 class="font-weight-light">Ошибка сервера</h6>

                            <div class="text-center mt-4 font-weight-light">
                                <a href="/" class="text-primary">Вергуться на главную</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>
</body>

</html>